* {
  background-color: antiquewhite;
  margin: 0 10px;
}
h1 {
  color: rgb(255, 123, 0);
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600px;
  text-align: center;
}
h2 {
  color: orange;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500px;
  text-align: left;
}
.paragraph {
  color: orange;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
